@import "./variables.scss";

@font-face {
	font-family: "Montserrat";
	src: url(../../../design/assets/fonts/Montserrat.ttf);
}

@font-face {
	font-family: "Inter";
	src: url(../../../design/assets/fonts/Inter.ttf);
}


